<div class="invitations-screen">
  @if(activeInvitation){
    <div class="invitation-active-container">
      <div style="font-size: 24px; font-weight: bold; margin-bottom: 20px; text-align: center;">
        <p>{{ 'invitationMember.activeInvitationTitle' | translate }} <strong>"{{activeInvitation.group.name}}"</strong></p>
      </div>
      <div class="group-container-found">
        <div class="group-found-header">
          <img [src]="activeInvitation.group.imgUrl || 'assets/default-group-image.png'" alt="Grupo {{ activeInvitation.group.name }}" class="group-image">
          <p>{{activeInvitation.group.name}}</p>
        </div>
        <div style="border-top: 2px solid #fff; width: 100%;"></div>
        <div class="group-found-body">
          <p>{{ 'invitationMember.description' | translate }} {{
              activeInvitation.group.description.length > 500
                ? (activeInvitation.group.description.slice(0, 500) + '...')
                : activeInvitation.group.description
            }}</p>
          <p>{{ 'invitationMember.memberCount' | translate }} {{activeInvitation.group.memberCount}}</p>
          <p>{{ 'invitationMember.code' | translate }} {{activeInvitation.group.code}}</p>
        </div>
        <div class="group-found-button-container">
          <button class="accept-button" (click)="onCheckInvitation()">{{ 'invitationMember.reviewRequest' | translate }}</button>
          <button class="decline-button" (click)="onCancelInvitation()">{{ 'invitationMember.cancelRequest' | translate }}</button>
        </div>
      </div>
    </div>
  }
  @if (activeInvitation == null) {
    <div class="search-container">
      <div class="search-title">
        <p>{{ 'invitationMember.joinTitle' | translate }}</p>
      </div>
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-bar-form">
        <mat-form-field appearance="fill" class="custom-form-field full-width">
          <mat-label>{{ 'invitationMember.searchLabel' | translate }}</mat-label>
          <mat-icon matPrefix style="color: #888;">search</mat-icon>
          <input matInput placeholder="{{ 'invitationMember.searchLabel' | translate }}" type="text" formControlName="query">
        </mat-form-field>
        <button class="search-button" type="submit">{{ 'invitationMember.searchLabel' | translate }}</button>
      </form>
      @if (searchError) {
        <div class="group-container-error">
          <p>{{ searchError }}</p>
        </div>
      }
    </div>
    @if (!groupFound){
      <div class="group-container-no-group">
        <p>{{ 'invitationMember.noGroupFound' | translate }}</p>
      </div>
    }
    @if (groupFound){
      <div class="group-container-found">
        <div class="group-found-header">
          <img [src]="groupFound.imgUrl || 'assets/default-group-image.png'" alt="Grupo {{ groupFound.name }}" class="group-image">
          <p>{{groupFound.name}}</p>
        </div>
        <div style="border-top: 2px solid #fff; width: 100%;"></div>
        <div class="group-found-body">
          <p>{{ 'invitationMember.description' | translate }} {{
              groupFound.description.length > 500
                ? (groupFound.description.slice(0, 500) + '...')
                : groupFound.description
            }}</p>
          <p>{{ 'invitationMember.memberCount' | translate }} {{groupFound.memberCount}}</p>
          <p>{{ 'invitationMember.code' | translate }} {{groupFound.code}}</p>
        </div>
        <div class="group-found-button-container">
          <button class="join-button" (click)="onJoinGroup()">{{ 'invitationMember.requestJoin' | translate }}</button>
        </div>
      </div>
    }
  }

</div>

