<section class="create">
  <h3>{{'createTask.title'|translate}}</h3>

  <div class="grid">
    <input placeholder="{{'createTask.fields.title.placeholder'|translate}}" [(ngModel)]="title" />
    <textarea rows="2" placeholder="{{'createTask.fields.description.placeholder'|translate}}" [(ngModel)]="description"></textarea>

    <mat-form-field appearance="outline" class="w-full assignee-field">
      <mat-label>{{'createTask.fields.assignee.label'|translate}}</mat-label>

      <mat-select [(ngModel)]="memberId">
        <mat-select-trigger>
          <span class="trigger no-pointer no-select">
            <ng-container *ngIf="selectedMember; else noneTpl">
              <img class="avatar" [src]="imgFor(selectedMember)" alt="avatar seleccionado" />
              <span class="trigger-text">{{ memberLabel(selectedMember!) }}</span>
            </ng-container>
            <ng-template #noneTpl>
              <span class="muted">{{'createTask.fields.assignee.none'|translate}}</span>
            </ng-template>
          </span>
        </mat-select-trigger>

        <mat-option *ngFor="let m of members" [value]="m.id">
          <div class="opt">
            <img class="avatar" [src]="imgFor(m)" alt="avatar miembro" />
            <span class="opt-text">{{ memberLabel(m) }}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="dt-field">
      <label for="due">{{'createTask.fields.dueDate.label'|translate}}</label>
      <input id="due" type="datetime-local" [(ngModel)]="dueDateTime" />
    </div>
  </div>

  <div class="actions">
    <button mat-flat-button color="primary" class="btn-save" (click)="save()">{{'createTask.actions.save'|translate}}</button>
    <button mat-flat-button color="warn" class="btn-cancel" (click)="cancel()">{{'createTask.actions.cancel'|translate}}</button>
  </div>
</section>
