<div class="invitation-card">
  <div class="invitation-name-display">
    <img [src]="invitation.member.imgUrl" class="member-pfp" alt="avatar">
    <div class="name-container">
      <p class="fullname">{{invitation.member.name}} {{invitation.member.surname}}</p>
      <p class="username">{{invitation.member.username}}</p>
    </div>
  </div>

  <div class="buttons-containers">
    <button class="accept-button" (click)="openDialog()">
      <span class="material-icons">check</span>
      <p>{{'accept'|translate}}</p>
    </button>
    <button class="reject-button" (click)="onRejectRequest()">
      <span class="material-icons">cancel</span>
      <p>{{'reject'|translate}}</p>
    </button>
  </div>
</div>
