<div>
  <div>
    <p style="font-size: 24px; font-weight: bold;">{{ 'requestsMember.title' | translate }}</p>
  </div>
  <div style="height: 16px;"></div>
  <section class="toolbar">
    <label>
      {{ 'requestsMember.filterLabel' | translate }}
      <select [(ngModel)]="selectedFilter" (ngModelChange)="onFilterChange($event)">
        <option *ngFor="let s of statusOptions" [ngValue]="s">
          {{ 'requestsMember.options.' + (s | lowercase) | translate }}
        </option>
      </select>
    </label>
  </section>
  <div style="height: 16px;"></div>
  <div>
    <app-request-card-list [requests]="filtered()"></app-request-card-list>
  </div>
</div>
