<div class="screen">
  <div class="login-container card">
    <div class="logo-container">
      <div class="brand-title">
        <span class="brand-syn">Syn</span><span class="brand-hub">hub</span>
      </div>
      <img src="assets/images/synhub_logo_transparent.png" alt="Synhub Logo" class="synhub-logo" />
      <div style="width: 200px">
        <app-language-switcher></app-language-switcher>
      </div>

    </div>

    <div class="login-form">
      <div class="form panel">
        <div class="title">{{ 'login.title' | translate }}</div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="custom-form-field full-width">
            <mat-label>{{ 'login.username.label' | translate }}</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput formControlName="username" [placeholder]="'login.username.placeholder'|translate" type="text" required />
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
              {{ 'login.username.required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="custom-form-field full-width">
            <mat-label>{{ 'login.password.label' | translate }}</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput formControlName="password" [placeholder]="'login.password.placeholder'|translate" type="password" required />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              {{ 'login.password.required' | translate }}
            </mat-error>
          </mat-form-field>

          <div class="button-container">
            <button mat-raised-button class="btn-primary" type="submit" [disabled]="loginForm.invalid">
              {{ 'login.button.sign_in' | translate }}
            </button>
            <button mat-raised-button class="btn-ghost" type="button" (click)="onGotoSignUp()">
              {{ 'login.button.sign_up' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
