<section class="toolbar" *ngIf="totalCount() > 0">
  <label>
    {{ 'taskMember.state' | translate }}
    <select class="state-select"
            [ngModel]="filter()"
            (ngModelChange)="filter.set($event)">
      <option *ngFor="let s of statusOptions" [ngValue]="s">
        {{ labelFor(s) | translate }}
      </option>
    </select>
  </label>
</section>



<ng-container *ngIf="totalCount() === 0; else tasksTpl">
  <div class="empty-page">
    <div class="empty-card">{{'taskMember.noTasks'|translate }}</div>
  </div>
</ng-container>

<ng-template #tasksTpl>
  <section class="list">
    <member-task-item
      *ngFor="let t of filtered()"
      [task]="t"
      (changed)="load()">
    </member-task-item>
  </section>
</ng-template>
